<div class="grid grid-cols-3">
    <app-products title="Product 1" [price]="12" img= 'https://picsum.photos/640/640?r=' (addToCart)="formChild($event)"/>
    <app-products title="Product 2" [price]="12" img = 'https://picsum.photos/640/640?r=' (addToCart)="formChild($event)"/>
    <app-products title="Product 3" [price]="12" img = 'https://picsum.photos/640/640?r=' (addToCart)="formChild($event)"/>
    <app-products title="Product 4" [price]="12" img = 'https://picsum.photos/640/640?r=' (addToCart)="formChild($event)"/>
</div>